* {
    box-sizing: border-box;

}
:root{
    --primary: #e35f21;
    --dark: #010506;
    --secondary: #eef8f7;
    --priority-1: rgba(0, 255, 238, 0.5);
    --priority-2:rgba(6, 213, 161, 0.5);
    --priority-3: rgba(8, 230, 78, 0.5);
    --priority-4: rgba(241, 219, 12, 0.5);
    --priority-5: rgba(240, 0, 0, 0.5);
}

body{
    background: var(--dark);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
header .logo img{
    height: 40px;
}

header form input{ 
   color: var(--secondary);
   background: var(--dark);
   border: 1px var(--secondary) solid;
   padding: .25rem;
   border-radius: 5px;
   font-size: .95rem;
}
input:invalid{
    border:  1px red solid;
}

.content{
    padding: 2rem;
}

button{
    background: var(--primary);
    border: none;
    font-size: .95rem;
    padding: .25rem;
    color: var(--secondary);
    border-radius: 5px;
}
button:hover{
    background: var(--secondary);
    color: var(--dark);
}

.weather-card{
    padding: .5rem;
    max-width: 100%;
    border: var(--secondary) 1px solid;
    color: var(--secondary);
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-bottom: var(--secondary) solid 1px;
}
.card-body .main{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.main-temp{
    flex: 1;
}
.main-temp .temp{
    display: flex;
   
    gap: 1rem;
    align-items: center;
}
.main-temp .temp h1 {
    margin: 0;
    font-size: 60px;
}
.main-feels{
   flex: 1;
   display: flex;
   flex-direction: column;
}
